$body-background-color: #56CFCB
$card-border-tan: #68654B
$button-color: #EFE9B7
$no-content-container-background: #FCF9DE

$content-card-playing-flag-color: #1CACE4
$content-card-title-text-color: #6B6854

