$body-background-color: #56CFCB
$card-accent-brown: #68654B
$button-color: #EBE8C8
$no-content-container-background: #FCF9DE

$content-card-playing-flag-color: #4CAFD6
$content-card-title-text-color: #7C7965

