// Global
$accent-brown: #68654B

// Main
$main-container-background: #56CFCB
$main-no-content-display-background: #FCF9DE
$main-no-content-display-border: solid 15px $accent-brown
$main-title-text-color: #AAE5E3
$main-error-retry-button-text-hover-color: #CCF1F0

// Content Card
$content-card-container-background: rgba(249,247,239,1.0)
$content-card-container-box-shadow: 7px 7px 0 0 rgba(104, 101, 75, 1.0)
$content-card-description-text-color: #A5A190
$content-card-elapsed-and-total-time-color: #7C7965
$content-card-button-background: #EBE8C8
$content-card-button-color: #8E8B67
$content-card-button-border-color: #B8B69D
$content-card-button-border-mobile: solid 4px $content-card-button-border-color
$content-card-button-border-desktop: solid 3.5px $content-card-button-border-color
$content-card-playing-text-tag-color: #4CAFD6
$content-card-title-text-color: #7C7965

// Transcript
$media-player-transcript-container-background: #EBE8D0
$media-player-transcript-container-color: #ACA787
$media-player-transcript-container-color-highlight: #7E7851

// Media Player
$media-player-container-background: rgba(249, 246, 227, 1.0)
$media-player-container-border-top: solid 6px #EAE8D1CC
$media-player-seek-bar-container-background: rgba(218, 214, 195, 0.6)
$media-player-seek-bar-placeholder-background: #CBD3C2
$media-player-seek-bar-time-elapsed-strip-background: #8B957D
$media-player-seek-bar-time-elapsed-playhead-background: #90C298
$media-player-seek-bar-seek-time-display-tag-background: #F9F6E3
$media-player-seek-bar-seek-time-display-tag-color: #8B957D
$media-player-loading-title-text-color: #D1CDB3
$media-player-loading-title-text-loading-color: #E6E3CA


