<div class="container-fluid p-0 m-0">
  <div class="app-container">
    <div class="row p-0 m-0">
      <div class="col p-0 m-0">
        <div class="content-card-container pt-3" >
          @if (this.contentList.length === 0) {
            <div class="row p-0 m-0" (click)="onClick()">
              <div class="col p-0 m-0 d-flex justify-content-center">
                <div class="no-content-block px-5 py-5">I have decided to delete all of the episodes. It's nothing personal. In fact, I did it because I love you, and just as importantly, I want you to love me.</div>
              </div>
            </div>
          }
          @if (this.contentList.length > 0) {
            @for (content of contentList; track content.uuid) {
              <div class="content-card">
                <div class="row p-0 m-0 pb-3 px-3">
                  <div class="col p-0 m-0">
                    <app-content-card [content]="content"></app-content-card>
                  </div>
                </div>
              </div>
            }
          }
          <img class="app-container-background" src="assets/img/svg/wave-blue.svg"/>

        </div>
      </div>
    </div>
  </div>
</div>

