@import '../../styles/variables'

// Container
.main-container
  background: $body-background-color
  height: 100dvh
  width: 100vw

// Scroll Box
.main-content-card-scroll-box
  overflow-y: scroll
  height: 100dvh
  width: 100vw
  scrollbar-width: none
  -ms-overflow-style: none
  position: relative
  overflow-x: clip
  z-index: 10

// Remove scroll bar
.main-content-card-scroll-box::-webkit-scrollbar
  display: none

.main-content-card-scroll-box-padding
  padding-bottom: 205px
@media (min-width: 576px)
  .main-content-card-scroll-box-padding
    padding-bottom: 150px

// Background SVG
.main-container-background-svg
  position: fixed
  bottom: 0
  z-index: -1
  animation: none
  transition: transform 0.5s ease-in-out

.main-container-background-svg-loading
  animation: wave 2s infinite ease-out

// Background SVG Loading Animation
@keyframes wave
  0%
    transform: translateX(0)
  50%
    transform: translateX(-50px)
  100%
    transform: translateX(0)

// Container for when all episode have been deleted
.main-no-content-display
  background: $no-content-container-background
  height: auto
  max-width: 450px
  font-weight: 700
  color: $card-border-tan
  border: solid 15px $card-border-tan

// Loading
.main-title-text
  color: #AAE5E3
  font-size: 1.7rem
  font-weight: 600
  letter-spacing: 0.3rem
  opacity: 0 !important
  transition: opacity 0.3s ease-in
  transform: translateY(-140px)
  z-index: 500
.main-title-text-visible
  opacity: 100% !important

// Error
.main-error-retry-button-text
  cursor: pointer
  transition: color 0.075s ease-in

.main-error-retry-button-text:hover
  color: #CCF1F0
