
// Container
.main-container
  background: #73D3CF
  height: 100vh
  width: 100vw

// Scroll Box
.main-content-card-scroll-box
  overflow-y: scroll
  height: 100vh
  width: 100vw
  scrollbar-width: none
  -ms-overflow-style: none
  position: relative
  overflow-x: clip
  z-index: 10

// Remove scroll bar
.main-content-card-scroll-box::-webkit-scrollbar
  display: none

.main-content-card-scroll-box-padding
  padding-bottom: 150px

// Background SVG
.main-container-background-svg
  position: fixed
  bottom: 0
  z-index: -1

// Container for when all episode have been deleted
.main-no-content-display
  background: #F9F6E3
  height: auto
  max-width: 450px
  font-weight: 700
  color: #68654B
  border: solid 10px #68654B
