.app-container
  background: #73D3CF
  height: 100vh
  width: 100vw

.content-card-container
  overflow-y: scroll
  height: 100vh
  width: 100vw
  scrollbar-width: none
  -ms-overflow-style: none
  padding-bottom: 150px
  position: relative
  overflow-x: clip

.content-card-container::-webkit-scrollbar
  display: none

.app-container-background
  position: fixed
  bottom: 0
  z-index: 0
