<div class="container-fluid p-0 m-0">
  <!--  {{ this.innerWidth }}-->
  <div class="main-container">
    <div class="row p-0 m-0">
      <div class="col p-0 m-0">
        <div class="main-content-card-scroll-box pt-3" [style]="{'z-index': 50}"
             [ngClass]="{'main-content-card-scroll-box-padding': this.audioGlobal.available()}">
          <!-- Main Loading -->
          <div class="vh-100 vw-100 position-absolute d-flex justify-content-center align-items-center">
            <span class="main-title-text" [ngClass]="{'main-title-text-visible':this.loading}">Loading...</span>
          </div>
            @if (!this.loading) {
              @if (this.error) {
                <div class="vh-100 vw-100 position-absolute d-flex justify-content-center align-items-center">
                  <span class="main-title-text text-center" [ngClass]="{'main-title-text-visible':!this.loading}">There was an error.<br><span class="main-error-retry-button-text p-2 mt-1" (click)="handleGetContent()">Retry</span></span>
                </div>
<!--                <div class="row p-0 m-0">-->
<!--                  <div class="col vh-100 p-0 m-0 d-flex justify-content-center align-items-center" [style]="{transform: 'translateY(-180px)'}">-->
<!--                    <span class="main-loading-title-text text-center">There was an error.<br><span class="main-error-retry-button-text p-3" (click)="handleGetContent()">Retry</span></span>-->
<!--                  </div>-->
<!--                </div>-->
              }
              @else {
                @if (this.audioGlobal.contentList.length === 0) {
                  <div class="row p-0 m-0 w-100 h-100">
                    <div class="col p-0 m-0 d-flex justify-content-center align-items-center">
                      <div class="main-no-content-display px-5 py-5 mx-3">I have decided to delete all of the episodes. It's
                        nothing personal. In fact, I did it because I love you, and just as importantly, I want you to love
                        me.
                      </div>
                    </div>
                  </div>
                }
                @if (this.audioGlobal.contentList.length > 0) {
                  <div class="">
                    @for (content of this.audioGlobal.contentList; track content.uuid) {
                      <div class="row p-0 m-0 pb-3 px-3" [ngClass]="{'pb-4 px-4': this.innerWidth < 576}">
                        <div class="col p-0 m-0">
                          <app-content-card [innerWidth]="innerWidth" [content]="content"></app-content-card>
                        </div>
                      </div>
                    }
                  </div>
                }
              }
            }
<!--          <img [ngClass]="{'main-container-background-svg-loading': this.loading}" class="main-container-background-svg" src="assets/img/svg/wave-blue.svg"/>-->
          <div [ngClass]="{'main-container-background-svg-loading': this.loading}" class="main-container-background-svg">
            <svg width="1920" height="299" viewBox="0 0 1920 299" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1920 175.786V14.4861C1920 14.4861 1851.61 39.6793 1803.88 37.403C1753.55 35.0023 1741.4 4.06276 1691.3 0.383428C1600.95 -6.25115 1593.19 75.3492 1502.48 80.0049C1407.52 84.8787 1381.21 15.3584 1285.89 14.4861C1187.59 13.5865 1159.03 79.3531 1060.72 80.0049C960.115 80.672 929.563 12.8985 828.988 14.4861C733.695 15.9903 707.66 82.1041 612.401 80.0049C523.546 78.0469 503.164 10.621 414.494 14.4861C328.062 18.2536 323.668 85.8114 237.791 92.6386C132.123 101.039 0 14.4861 0 14.4861V175.786H1920Z" fill="#81DAD7"/>
              <rect y="175.786" width="1920" height="123.214" fill="#81DAD7"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@if (this.audioGlobal.contentList.length > 0) {
  <app-media-player></app-media-player>
}
