<div class="container-fluid p-0 m-0">
  {{ this.innerWidth }}
  <div class="app-container">
    <div class="row p-0 m-0">
      <div class="col p-0 m-0">
        <div class="content-card-container no-content-block-z-index pt-3" [ngClass]="{'content-card-container-padding': this.globalData.content}">
          @if (this.loading) {
            <!--Do loading screen stuff here-->
          } @else {
              @if (this.globalData.contentList.length === 0) {
                <div class="row p-0 m-0 w-100 h-100">
                  <div class="col p-0 m-0 d-flex justify-content-center align-items-center">
                    <div class="no-content-block px-5 py-5 mx-3">I have decided to delete all of the episodes. It's nothing personal. In fact, I did it because I love you, and just as importantly, I want you to love me.</div>
                  </div>
                </div>
              }
              @if (this.globalData.contentList.length > 0) {
                @for (content of this.globalData.contentList; track content.uuid) {
                  <div class="row p-0 m-0 pb-3 px-3" [ngClass]="{'pb-4 px-4': this.innerWidth < 576}">
                    <div class="col p-0 m-0">
                      <app-content-card [innerWidth]="innerWidth" [content]="content"></app-content-card>
                    </div>
                  </div>
                }
              }
          }
          <img class="app-container-background" src="assets/img/svg/wave-blue.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>
@if(this.globalData.contentList.length > 0) {
  <app-media-player></app-media-player>
}
