.media-player-container
  background: rgba(249, 246, 227, 0.8)
  height: 0
  transition: height 0.2s ease-in
  max-height: 150px
  width: 100vw
  position: fixed
  bottom: 0
  //border-top: solid 6px #D2CFB4
  overflow: clip
  z-index: 500
  backdrop-filter: blur(30px)
  -webkit-backdrop-filter: blur(30px)

.media-player-container-open
  height: 100%

.media-player-background
  position: absolute
  bottom: 0
  z-index: -1
  left: -42.5px
  opacity: 0.5


.track-bar-container
  position: relative
  width: 100%
  height: 11px
  border-radius: 50px
  background: rgba(218, 214, 195, 0.4)
  z-index: 10
  transition: transform 0.2s ease-in

.track-bar
  background: #8B957D
  height: 100%
  border-radius: 50px
  transition: width 0.1s ease-out

.track-bar-seek
  background: #CBD3C2
  height: 100%
  border-radius: 50px
  position: absolute
  transition: width 0.1s ease-out
  z-index: -1

.playhead-time
  position: absolute
  bottom: 30px
  height: 35px
  width: 70px
  background: #F9F6E3
  z-index: 100 !important
  font-weight: 700
  color: #8B957D
  transform: scaleY(1) !important

.playhead
  position: absolute
  top: 50%
  transform: translateY(-50%) translateX(-12.25px)
  background: #90C298
  width: 25px
  height: 25px
  border-radius: 50px
  cursor: grab
  transition: left 0.1s ease-out, transform 0.2s ease-out


.playhead-hover
  transform: translateY(-50%) translateX(-32.25px) !important

.playhead-center
  position: relative
  width: 9px
  height: 9px
  border-radius: 50px
  background: #6E7662

.audio-control-button
  width: 55px
  height: 55px

.button-padding
  padding: 5px
  z-index: 10
  cursor: pointer

.title-text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-weight: 700
  color: #68654B
  font-size: 1.15rem

@media (min-width: 576px)
  .title-text
    font-size: 1.25rem

.time-duration-elapsed
  z-index: 5
  color: #68654B
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px

.time-duration-total
  z-index: 5
  color: #68654B
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px

.next-button
  z-index: 500

.previous-button
  z-index: 500
