<div class="container-fluid p-0 m-0">
  <div class="media-player-container" [ngClass]="{'media-player-container-open': isOpen}">
    <div class="row p-0 m-0 pt-3 px-3">
      <div class="col p-0 m-0 d-flex justify-content-center">
        <span class="title-text">{{this.content?.title}}</span>
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="col p-0 m-0 d-flex justify-content-center">
        <div class="button-padding" (click)="onPlay()">
          @if (this.globalData.playing) {
            <img class="audio-control-button" src="assets/img/svg/pause-button.svg"/>
          }
          @if (!this.globalData.playing) {
            <img class="audio-control-button" src="assets/img/svg/play-button.svg"/>
          }
        </div>
      </div>
    </div>
    <div class="row p-0 m-0 pt-1">
      <div class="col p-0 m-0 d-flex justify-content-center">
        <div class="track-bar-container"
             (mouseenter)="handleOnMouseEnter()"
             (mouseleave)="handleOnMouseLeave()"
             (mousemove)="onMouseMove($event)" #trackBarContainer>
          <div class="track-bar" [ngStyle]="{'width': this.percentProgress + '%'}" #trackBar></div>
          <div class="playhead d-flex justify-content-center align-items-center" [ngStyle]="{'left': this.percentProgress + '%'}">
<!--            <div class="playhead-center"></div>-->
          </div>
        </div>
      </div>
    </div>
    <img class="media-player-background" src="assets/img/svg/wave-sand.svg"/>
  </div>
</div>

