@import '../../../styles/variables'

// Container
.media-player-container
  background: rgba(249, 246, 227, 1.0)
  height: 0
  max-height: 150px
  width: 100vw
  position: fixed
  bottom: 0
  border-top: solid 6px #EAE8D1CC
  overflow: visible
  z-index: 500
  backdrop-filter: blur(30px)
  -webkit-backdrop-filter: blur(30px)
  transition: height 0.2s ease-in
.media-player-container-open
  height: 100%

// Title
.media-player-title-text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-weight: 600
  color: $card-accent-brown
  font-size: 1.15rem
@media (min-width: 576px)
  .media-player-title-text
    font-size: 1.25rem

// Transcript
.media-player-transcript-container
  z-index: 0
  opacity: 0
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  background: #EBE8D0
  color: #ACA787
  width: fit-content
  min-width: 200px
  font-weight: 600
  height: 45px
  transition: bottom 0.2s ease-in, top 0.15s ease, opacity 0.05s ease
//box-shadow: 5px 5px 0 0 rgba(104, 101, 75, 1.0)

.media-player-transcript-container-visible
  top: -61px
  z-index: 500
  opacity: 100%

.media-player-transcript-base-text-transition
  transition: color 0.065s ease-in, font-weight 0.075s ease-in !important

.media-player-transcript-text-highlight
  font-weight: 600 !important
  color: #7E7851 !important

// Track Navigation
.media-player-nav-button-padding
  padding: 5px
  z-index: 10
  cursor: default
  transform: scale(1.0) translateY(5px)
  transition: transform 0.05s ease-in

.media-player-nav-button-padding:hover
  transform: scale(1.01) translateY(4px)

.media-player-nav-button-padding:active
  transform: scale(1.0) translateY(6px)

.media-player-nav-button-svg
  width: 55px
  height: 55px

.media-player-nav-button-previous
  z-index: 500

.media-player-nav-button-next
  z-index: 500

// Seek Bar
.media-player-seek-bar-time-elapsed-text
  z-index: 5
  color: $card-accent-brown
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px
  left: 17px

.media-player-seek-bar-time-total-text
  z-index: 5
  color: $card-accent-brown
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px
  right: 17px

.media-player-seek-bar-container
  position: relative
  width: 100%
  height: 11px
  border-radius: 50px
  background: rgba(218, 214, 195, 0.6)
  z-index: 10
  transition: transform 0.2s ease-in

.media-player-seek-bar-placeholder
  background: #CBD3C2
  height: 100%
  border-radius: 50px
  position: absolute
  transition: width 0.1s ease-out
  z-index: -1

.media-player-seek-bar-time-elapsed-strip
  background: #8B957D
  height: 100%
  border-radius: 50px
  transition: width 0.1s ease-out

.media-player-seek-bar-time-elapsed-playhead
  position: absolute
  top: 50%
  transform: translateY(-50%) translateX(-50%)
  background: #90C298
  width: 27px
  height: 27px
  border-radius: 50px
  cursor: default
  transition: left 0.1s ease-out, transform 0.2s ease-out
@media (min-width: 576px)
  .media-player-seek-bar-time-elapsed-playhead
    width: 25px
    height: 25px

.media-player-seek-bar-seek-time-display-tag
  position: absolute
  bottom: 30px
  height: 35px
  width: 70px
  background: #F9F6E3
  z-index: 100 !important
  font-weight: 700
  font-size: 1rem
  color: #8B957D
  transform: translateX(-70%) !important
  transition: left 0.1s ease-out
@media (min-width: 576px)
  .media-player-seek-bar-seek-time-display-tag
    height: 35px
    width: 70px
    font-size: 1rem

// Global
.media-player-background-svg
  position: absolute
  bottom: 0
  z-index: -1
  left: 0
  opacity: 0.95

// Loading
.media-player-loading-title-text
  transform: translateY(-7px)
  color: #D1CDB3
  font-weight: 700
  font-size: 1rem
  opacity: 0
  transition: opacity 0.3s ease-in
  animation: loading 2s infinite ease-out
.media-player-loading-title-text-visible
  opacity: 100% !important

.media-player-visibility-control
  opacity: 0 !important
  transition: opacity 0.1s ease-in
.media-player-visibility-control-visible
  opacity: 100% !important

@keyframes loading
  0%
    color: #D1CDB3
  50%
    color: #E6E3CA
  100%
    color: #D1CDB3

.accent-brown
  fill: $card-accent-brown
