.media-player-container
  background: rgba(249, 246, 227, 0.8)
  height: 0
  transition: height 0.2s ease-in
  max-height: 150px
  width: 100vw
  position: fixed
  bottom: 0
  border-top: solid 6px #EAE8D1CC
  overflow: visible
  z-index: 500
  backdrop-filter: blur(30px)
  -webkit-backdrop-filter: blur(30px)

.media-player-container-open
  height: 100%

.media-player-background
  position: absolute
  bottom: 0
  z-index: -1
  left: -42.5px
  opacity: 0.55

.track-bar-container
  position: relative
  width: 100%
  height: 11px
  border-radius: 50px
  background: rgba(218, 214, 195, 0.6)
  z-index: 10
  transition: transform 0.2s ease-in

.track-bar
  background: #8B957D
  height: 100%
  border-radius: 50px
  transition: width 0.1s ease-out

.track-bar-seek
  background: #CBD3C2
  height: 100%
  border-radius: 50px
  position: absolute
  transition: width 0.1s ease-out
  z-index: -1

.playhead-time
  position: absolute
  bottom: 30px
  height: 35px
  width: 70px
  background: #F9F6E3
  z-index: 100 !important
  font-weight: 700
  color: #8B957D
  transform: scaleY(1) !important

.playhead
  position: absolute
  top: 50%
  transform: translateY(-50%) translateX(-12.25px)
  background: #90C298
  width: 25px
  height: 25px
  border-radius: 50px
  cursor: grab
  transition: left 0.1s ease-out, transform 0.2s ease-out


.playhead-hover
  transform: translateY(-50%) translateX(-32.25px) !important

.playhead-center
  position: relative
  width: 9px
  height: 9px
  border-radius: 50px
  background: #6E7662

.audio-control-button
  width: 55px
  height: 55px

.button-padding
  padding: 5px
  z-index: 10
  cursor: pointer
  transform: scale(1.0)
  //transition: transform 0.1s ease-in

.button-padding:hover
  //transform: scale(1.00)

.title-text
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-weight: 700
  color: #68654B
  font-size: 1.15rem

@media (min-width: 576px)
  .title-text
    font-size: 1.25rem

.time-duration-elapsed
  z-index: 5
  color: #68654B
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px
  left: 17px

.time-duration-total
  z-index: 5
  color: #68654B
  font-weight: 600
  font-size: 1rem
  position: absolute
  bottom: -13px
  right: 17px

.next-button
  z-index: 500

.previous-button
  z-index: 500

.button-adjustment
  transform: translateY(5px)

.transcript-container
  z-index: 0
  opacity: 0
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  background: #EBE8D0
  color: #ACA787
  width: fit-content
  min-width: 200px
  font-weight: 600
  height: 45px
  transition: bottom 0.2s ease-in, top 0.15s ease, opacity 0.05s ease
  //box-shadow: 5px 5px 0 0 rgba(104, 101, 75, 1.0)

.transcript-container-open
  bottom: 155px

.transcript-container-visible
  top: -61px
  z-index: 500
  opacity: 100%

.text-transition
  transition: color 0.065s ease-in, font-weight 0.075s ease-in !important

.text-highlight
  font-weight: 600 !important
  color: #7E7851 !important
