@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

body
  font-family: 'Poppins', sans-serif !important
  cursor: default !important

.button
  background: #EBE8C8
  color: #8E8B67
  height: 48px
  width: 140px
  font-size: 0.97rem
  font-weight: 700
  border: solid 3.5px #B8B69D
  text-decoration: none !important

@media (min-width: 576px)
  .button
    font-size: 0.94rem
    font-weight: 600

.button:hover
  cursor: pointer

a:focus
  outline: none

.text-transition
  transition: color 1.0s ease-in

.text-highlight
  font-weight: 600 !important
  color: #7E7851 !important
