@import '../../../styles/variables'

// Container
.content-card-container
  background: $content-card-container-background
  width: 550px
  opacity: 0
  transition: opacity 0.075s ease-in
  z-index: 10
.content-card-container-visible
  opacity: 1.0

.content-card-play-hook
  background: $content-card-play-hook-background
  width: 4px
  height: 95%

// Title
.content-card-title-text
  color: $content-card-title-text-color
  font-size: 1.3rem
  font-weight: 700 !important
  line-height: 1rem
  letter-spacing: 0.07rem
@media (min-width: 576px)
  .content-card-title-text
    font-size: 1.15rem

// Description
.content-card-description-text
  font-size: 1.1rem
  font-weight: 500 !important
  color: $content-card-description-text-color
  line-height: 1rem
  letter-spacing: 0.07rem
@media (min-width: 576px)
  .content-card-description-text
    font-size: 1rem

.content-card-playing-text-tag
  color: $content-card-playing-text-tag-color
  font-weight: 500
  font-size: 1.15rem
  opacity: 0
  letter-spacing: 0.08rem
  transition: opacity 0.2s ease-in
@media (min-width: 576px)
  .content-card-playing-text-tag
    font-size: 1.05rem

.content-card-playing-text-tag-visible
  opacity: 100%

.content-card-elapsed-and-total-time
  color: $content-card-elapsed-and-total-time-color
  font-weight: 400
  font-size: 1.1rem
  padding-left: 0
  letter-spacing: 0.05rem
  transition: font-weight 0.2s ease-in

.content-card-elapsed-and-total-time-active
  font-weight: 700 !important

// Button
.content-card-button
  background: $content-card-button-background
  color: $content-card-button-color
  border: $content-card-button-border-mobile
  height: 48px
  width: 140px
  font-size: 0.97rem
  font-weight: 700
  letter-spacing: 0.05rem
  text-decoration: none !important
  transform: scale(0.995) translateY(0)
  transition: transform 0.05s ease-in
@media (min-width: 576px)
  .content-card-button
    border: $content-card-button-border-desktop
    font-size: 0.94rem
    font-weight: 600

.content-card-button:hover
  cursor: default
  transform: scale(1.00) translateY(-2px)

.content-card-button:active
  transform: scale(0.995) translateY(1px)
