.card-container
  width: 500px
  background: #F9F7EF
  z-index: 10
  box-shadow: 7px 7px 0 0 rgba(104, 101, 75, 1.0)

.title-text
  font-size: 1rem
  font-weight: 700 !important
  color: #7C7965

.description-text
  font-size: 0.9rem
  font-weight: 500 !important
  color: #A5A190

.playing-text
  color: #4CAFD6
  font-weight: 500
  opacity: 0
  letter-spacing: 0.08em
  transition: opacity 0.2s ease-in

.playing-text-visible
  opacity: 100%

.time-duration
  color: #7C7965
  font-weight: 400
  font-size: 1rem
  padding-left: 0
  transition: font-weight 0.2s ease-in

.time-duration-active
  font-weight: 700 !important
